@import url('../css/variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-mobile {
    font-size: 1.5rem;
    background-color: transparent;
}


.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}


.title {
    text-align: center;
    padding-top: 20px;
}

.container {
    background-image: url('../../images/background-mobile.png');
    background-size: cover;
    padding-top: 130px;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .home-image {
        width: 300px;
    }

    .home-title {
        color: var(--color-neutral-9);
        text-align: center;
        font-size: 4rem;
        text-transform: uppercase;
        max-width: 650px;
    }

    span {
        color: var(--color-primary);
    }


    .home-description {
        color: var(--color-neutral-9);
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        max-width: 600px;
    }

    .home-actions {
        display: flex;
        gap: 12px;
        margin-top: 12px;
    }

    .btn-conhecer {
        background-color: var(--color-primary);
        color: var(--color-neutral-0);

    }

    .btn-contatar {
        background-color: transparent;
        color: var(--color-primary);
        border: 1px solid var(--color-primary);

    }




}


#trendings {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 100px;


    .trendings-cards {
        .trending-card {
            position: relative;

            img {
                width: 300px;
            }

            .trending-rate {
                background-color: var(--color-neutral-0);
                position: absolute;
                bottom: 70px;
                right: 30px;
                padding: 5px 10px;
                border-radius: 5px;

                i {
                    color: var(--color-secondary);
                }
            }

            .trending-card-description {
                display: flex;
                flex-direction: column;
                text-align: center;
                font-size: 1.3rem;
                font-weight: bold;
                color: var(--color-neutral-9);

                span {
                    font-size: 1rem;
                    font-weight: 500;
                    color: var(--color-neutral-6);
                }
            }
        }

    }
}


#about {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-color: var(--color-primary-light);
    background-image: url('../../images/about/bg-about.png');
    border-radius: 50px;

    .title {
        color: var(--color-neutral-0);
    }

    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .about-img {
            width: 500px;
            display: none;
        }


        .about-info {
            padding: 24px;
            border-radius: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


            h3 {
                color: var(--color-neutral-0);
                font-size: 1.8rem;
                margin-bottom: 4px;
            }

            span {
                color: var(--color-secondary);
                font-weight: bold;
            }

            p {
                color: var(--color-neutral-0);
                font-size: 1rem;

            }
        }
    }


}

#products {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 58px;

    .products-cards {
        display: flex;
        flex-direction: column;
        gap: 58px;

        .product-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: var(--color-primary);
            background-image: url('../../images/products/background.png');
            background-size: cover;
            background-position: center;
            padding: 16px;
            border-radius: 50px;


            img {
                width: 300px;
                position: relative;
                top: -70px;
            }

            .product-content {
                margin-top: -70px;

                h3 {
                    color: var(--color-neutral-0);
                    font-size: 1.8rem;
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    span {
                        color: var(--color-secondary);
                        font-weight: bold;
                    }
                }
            }

        }



    }

}

footer {
    margin-top: 32px;
    background-color: var(--color-primary);
    color: var(--color-neutral-0);
    text-align: center;
    padding: 12px;


    p {
        font-size: 1rem;

    }
}





@media (min-width: 768px) {

    #trendings {
        .trendings-cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 24px;
        }
    }


    #about {
        justify-content: center;

        .about-content {
            flex-direction: row;
            align-items: flex-start;
            gap: 48px;



            .about-img {
                display: block;
            }

            .about-info {
                p {
                    text-align: justify;
                    font-size: 1.5rem;
                }
            }
        }
    }


    #products {

        .products-cards {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 24px;


            .product-card {
                img {
                    width: 250px;
                }
            }
        }
    }
}