:root {
    /* Neutros base */
    --neutral-h: 28;
    --neutral-s: 100%;
  
    --color-neutral-0: hsl(var(--neutral-h), var(--neutral-s), 95%);
    --color-neutral-3: hsl(var(--neutral-h), var(--neutral-s), 70%);
    --color-neutral-6: hsl(var(--neutral-h), var(--neutral-s), 40%);
    --color-neutral-9: hsl(var(--neutral-h), var(--neutral-s), 10%);
  
    /* Primária (verde Starbucks) */
    --primary-h: 163;
    --primary-s: 64%;
  
    --color-primary: hsl(var(--primary-h), var(--primary-s), 29%);
    --color-primary-light: hsl(var(--primary-h), var(--primary-s), 40%);
    --color-primary-dark: hsl(var(--primary-h), var(--primary-s), 20%);
  
    /* Secundária (amarelo café torrado suave) */
    --secondary-h: 45;
    --secondary-s: 80%;
  
    --color-secondary: hsl(var(--secondary-h), var(--secondary-s), 52%);
  }
  